.authcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.inputcontainer {
  width: 100%;
  max-width: 300px;
}

.authcontainer input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.authcontainer button {
  padding: 12px 24px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.authcontainer button:hover {
  background-color: #2980b9;
}